*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}




.Body{
    background-color: rgb(0, 0, 0);
}


.Calc_Console{
    grid-area: Calc_Console;
    background-color: black;
    color: aliceblue;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    display: flex;
    justify-content: end;
    font-family:monospace;
    user-select: none;
    opacity: 100%;

}

.Clear{
    grid-area: Clear;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    font-size: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 5px solid black;
    border-top: 10px solid black;
}
.Back_Arrow{
    grid-area: Back_Arrow;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
    border-top: 10px solid black;
}
.Divide{
    grid-area: Divide;
    background-color: rgb(242, 180, 66);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
    border-top: 10px solid black;
}
.Multiply{
    grid-area: Multiply;
    background-color: rgb(242, 180, 66);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
.Subtract{
    grid-area: Subtract;
    background-color: rgb(242, 180, 66);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
.Addition{
    grid-area: Addition;
    background-color: rgb(242, 180, 66);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;

}
.Equals{
    grid-area: Equals;
    background-color: rgb(242, 180, 66);
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._7{
    grid-area: _7;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._8{
    grid-area: _8;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;

}
._9{
    grid-area: _9;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._4{
    grid-area: _4;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;

}
._5{
    grid-area: _5;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._6{
    grid-area: _6;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._1{
    grid-area: _1;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._2{
    grid-area: _2;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._3{
    grid-area: _3;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;
}
._0{
    grid-area: _0;
    background-color: rgb(197, 195, 195);
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    border: 5px solid black;

}
._0:hover 
{
    background-color:rgb(211, 228, 228);

}
._1:hover 
{
    background-color:rgb(211, 228, 228);

}
._2:hover 
{
    background-color:rgb(211, 228, 228);

}
._2:hover 
{
    background-color:rgb(211, 228, 228);

}
._3:hover 
{
    background-color:rgb(211, 228, 228);

}
._4:hover 
{
    background-color:rgb(211, 228, 228);

}
._5:hover 
{
    background-color:rgb(211, 228, 228);

}
._6:hover 
{
    background-color:rgb(211, 228, 228);

}
._7:hover 
{
    background-color:rgb(211, 228, 228);

}
._8:hover 
{
    background-color:rgb(211, 228, 228);

}
._9:hover 
{
    background-color:rgb(211, 228, 228);

}
.Clear:hover 
{
    background-color:rgb(211, 228, 228);

}
.Back_Arrow:hover 
{
    background-color:rgb(211, 228, 228);

}
.Multiply:hover 
{
    background-color:rgb(247, 209, 93);

}
.Subtract:hover 
{
    background-color:rgb(247, 209, 93);

}
.Addition:hover 
{
    background-color:rgb(247, 209, 93);

}
.Equals:hover 
{
    background-color:rgb(247, 209, 93);

}
.Divide:hover 
{
    background-color:rgb(247, 209, 93);

}








.Calculator{
    background-color: rgb(0, 0, 0);
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-areas: 
    "Calc_Console Calc_Console Calc_Console Calc_Console"
    "Clear Clear Back_Arrow Divide"
    "_7 _8 _9 Multiply"
    "_4 _5 _6 Subtract"
    "_1 _2 _3 Addition"
    "_0 _0 _0 Equals";
    padding: 5px;
   
    
}


span{
    user-select: none;
} 

.BackVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}